<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.UserMapper">
    <resultMap id="BaseResp" type="user">
    <id property="id" column="id"></id>
    <result property="userName" column="user_name"></result>
    <result property="password" column="password"></result>
    <result property="email" column="email"></result>
    <result property="gender" column="gender"></result>
    <result property="idCard" column="id_card"></result>
    <result property="level" column="level"></result>
    </resultMap>
    <sql id="basesql">
        id,user_name,password,email,gender,id_card,level
    </sql>
    <select id="findByEmail" resultMap="BaseResp">
        select 
        <include refid="basesql"></include>
        from user where email=#{email}
    </select>
</mapper>